@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
} 
body {
    font-family: lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}
h1, h2{
    font-family: roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #3a3a3a;
}

#logo {
    text-decoration: none;
}

.navbar-nav a:hover {
    border-bottom: 1px solid black;
}

.navbar-nav > .active {
    background-color: rgba(203, 180, 207, 0.3);
    }

#image-container {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
#cover-text, #cover-text h2, #cover-text h3, #cover-text p{
    color: #fff;
    text-align: center;
}
#main-image {
    height: 600px;
    width: 100%;
    background-image: url('../images/photo-1559339352-11d035aa65de.jpeg');
    background-position: center;
    background-size: cover;
}
#cover-text {
    font-size: 120%;
    font-family: roboto, sans-serif;
    width: 100%;
    background-color: rgba(81, 122, 225, 0.8);
    bottom: 200px;
    position: absolute;
}
#about-info {
    font-size: 120%;
    font-family: roboto, sans-serif;
    color: #fff;
    background-color: rgba(81, 122, 225, 0.6);
    text-align: center;
    margin: auto;
    width: 100%;
}
#about-info h2 {
    font-size: 200%;
    color: #fff;
}
.button {
    background-color: powderblue;
    border: none;
    padding: 20px;
    text-align: center;
    display: inline-block;
    font-size: 100%;
    border-radius: 8px;
}
.button a {
    text-decoration: none;
    color: #fff;
}
.button:hover {
    background-color: pink;
}
.find-us {
    background-color: #fff;
    color: #3a3a3a;
}
.find-us h3 {
    font-family: roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #3a3a3a;
    text-align: center;
}
.location {
    width: 80%;
    margin: 10px 10% 10px 10% ;
    height: 200px;
}
.social-networks {
    text-align: center;
}
.social-networks li {
    display: inline;
}
.social-networks i {
    font-size: 200%;
    margin: 2%;
    padding: 1%;
    color: black;
}
footer h4 {
    text-align: center;
    color: #3a3a3a;
    font-size: 100%;
    letter-spacing: 1px;
}

.pictures {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: center;
}

.column {
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    
    width: 100%;
}


@media screen and (min-width: 768px) {
  #cover-text {
    padding-top: 50px;
    padding-left: 20px;
    right: 150px;
  }
}