@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
} 
body {
    font-family: lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}
h1, h2{
    font-family: roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #3a3a3a;
}

#logo {
    text-decoration: none;
}

li a {
    font-size: 20px;
    margin: 20px;
}

.navbar-nav a:hover {
    border-bottom: 1px solid black;
}

.navbar-nav > .active {
    background-color: rgba(153, 197, 223, 0.3);
    border-top: 1px solid black;
    }

#image-container {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
#cover-text, #cover-text h2, #cover-text h3, #cover-text p{
    color: #fff;
    text-align: center;
}
#main-image {
    height: 600px;
    width: 100%;
    background-image: url('../images/photo-1559339352-11d035aa65de.jpeg');
    background-position: center;
    background-size: cover;
}
#cover-text {
    font-size: 120%;
    font-family: roboto, sans-serif;
    width: 100%;
    background-color: rgba(81, 122, 225, 0.8);
    bottom: 150px;
    position: absolute;
}
#about-info {
    font-size: 120%;
    font-family: roboto, sans-serif;
    color: #fff;
    background-color: rgba(81, 122, 225, 0.6);
    text-align: center;
    margin: auto;
    width: 100%;
}
#about-info h2 {
    font-size: 200%;
    color: #fff;
}
.button {
    background-color: powderblue;
    border: none;
    padding: 20px;
    text-align: center;
    display: inline-block;
    font-size: 100%;
    border-radius: 8px;
}
.button a {
    text-decoration: none;
    color: #fff;
}
.button:hover {
    background-color: pink;
}
.find-us {
    background-color: #fff;
    color: #3a3a3a;
}
.find-us h3 {
    font-family: roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #3a3a3a;
    text-align: center;
}
.location {
    width: 80%;
    margin: 10px 10% 10px 10% ;
    height: 200px;
}
.social-networks {
    text-align: center;
}
.social-networks li {
    display: inline;
}
.social-networks i {
    font-size: 200%;
    margin: 2%;
    padding: 1%;
    color: black;
}
footer h4 {
    text-align: center;
    color: #3a3a3a;
    font-size: 100%;
    letter-spacing: 1px;
}

.pictures {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: center;
}

.column {
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    
    width: 100%;
}

.background-menu {
    width: 100%;
    background-image: url("../images/menubackground.jpeg");
    background-position: center;
    background-size: cover;
}

.menu-layout {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    background-color: rgba(232, 236, 237, 0.8);
}

hr {
    border-bottom: 2px solid gray;
    border-radius: 60%;
}

.starter {
    flex: 30%;
    border: 1px solid black;
    margin: 10px;
}

.main-course {
    flex: 30%;
    border: 1px solid black;
    margin: 10px;
}

.dessert {
    flex: 30%;
    border: 1px solid black;
    margin: 10px;
}

.contact-background {
    background: url("../images/imageofkitchen.jpeg");
    background-size: cover;
    background-position: center;
    color: #fff;
    font-size: 120%;
}

.contact-form {
   background-color: rgba(60, 60, 60, 0.6);
   width: 100%;
   padding: 30px 70px 40px 200px;
}

input {
    width: 50%;
    padding: 10px 18px;
    margin: 10px 0;
    box-sizing: border-box;
    border-radius: 20px;
    cursor: pointer;
}

textarea {
    width: 50%;
    padding: 10px 18px;
    margin: 10px 0;
    box-sizing: border-box;
    border-radius: 20px;
    resize: none;
}

input:hover {
    background-color: rgba(231, 197, 208, .8);
}

textarea:hover {
    background-color: rgba(231, 197, 208, .8);
}

.booking-background {
    background: url("../images/internalviewofrestaurant.jpeg");
    background-size: cover;
    background-position: center;
    color: #fff;
    font-size: 120%;
}

#day {
    width: 50%;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 20px;
}

#time {
    width: 50%;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 20px;
}

#party {
    width: 50%;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 20px;
}

#day:hover  {
    background-color: rgba(231, 197, 208, .8);
}

#time:hover  {
    background-color: rgba(231, 197, 208, .8);
}

#party:hover {
    background-color: rgba(231, 197, 208, .8);
}

@media screen and (min-width: 768px) {
#cover-text {
    padding-top: 50px;
    padding-left: 20px;
    right: 150px;
    width: 80%;
  }
}

@media screen and (max-width: 700px) {
#cover-text {
    padding-top: 50px;
    padding-left: 20px;
    width: 100%;
    }

.contact-form {
    background-color: rgba(60, 60, 60, 0.6);
    width: 100%;
    padding: 0;
    }

input {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0 10px 20px;
    cursor: pointer;
    }

textarea {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0 10px 20px;
    resize: none;
    }

    #day {
        width: 70%;
        padding: 12px 20px;
        margin: 8px 0 10px 20px;
        cursor: pointer;
        box-sizing: border-box;
        border-radius: 20px;
    }
    
    #time {
        width: 70%;
        padding: 12px 20px;
        margin: 8px 0 10px 20px;
        cursor: pointer;
        box-sizing: border-box;
        border-radius: 20px;
    }
    
    #party {
        width: 70%;
        padding: 12px 20px;
        margin: 8px 0 10px 20px;
        cursor: pointer;
        box-sizing: border-box;
        border-radius: 20px;
    }
    }