@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    background-color: #fff;
} 
body {
    font-family: lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

h1, h2{
    font-family: roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #3a3a3a;
}

#logo {
    float: left;
    font-size: 150%;
    text-decoration: none;
    color: #3a3a3a;
}

#menu {
    font-size: 120%;
    text-transform: uppercase;
}

#menu, #logo{
    line-height: 50px;
}

#menu li{
    float: left;
    margin-left: 100px;
    margin-right: 1px;
    list-style: none;
}

#menu ul {
    float: right;
}

#menu a {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
}

#menu a:hover {
    border-bottom: 1px solid black;
}

.active {
    border-bottom: 1px solid black;
}

#image-container {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text, #cover-text h2, #cover-text h3, #cover-text p{
    color: #fff;
    text-align: center;
}

#main-image {
    height: 600px;
    width: 100%;
    background-image: url('../images/photo-1559339352-11d035aa65de.jpeg');
    background-position: center;
    background-size: cover;
}

#cover-text {
    font-size: 120%;
    font-family: roboto, sans-serif;
    width: 400px;
    height: 250px;
    padding-top: 50px;
    padding-left: 20px;
    background-color: rgba(81, 122, 225, 0.8);
    bottom: 200px;
    right: 150px;

    position: absolute;

}

#about-info, h2, p{
    font-size: 120%;
    text-align: center;
}

#about-info {
    margin-top: 80px;
    padding: 20px;
    background-color: rgba{141, 176, 238, 0.8);
}